body{
    background-color: blue;
}
.whyilikeMyBoes{
    background-color: crimson;
}
.howMyBoeshelpme{
    background-color: darkorange;
}
.whatMyBoesmakemedo{
    background-color: gold;
}
.howmuchiloveMyBoes{
    background-color: chartreuse;
}