body{
    background-color: blue;
}
.whyilikeMyBoes{
    background-color: yellow;
}
.howMyBoeshelpme{
    background-color: chartreuse;
}
.whatMyBoesmakemedo{
    background-color: crimson;
}
.howmuchiloveMyBoes{
    background-color: darkorange;
}